.react-calendar__navigation button {
  background: none;
  color: white;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
 background-color: brown;
}

.react-calendar{
  border:none;
  border-radius: 3px;
  background-color: #D14009;
  color: white;
}
.react-calendar__button{
  color: white;
}

.react-calendar__navigation__label{
  font-size:1.5rem;
}
.react-calendar__navigation button:disabled{
  background-color: brown;
  font-size: 1.5rem;
}
.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled{
  background-color: rgb(216,150,255);
}
.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus{
  background-color: rgb(216,150,255);
}
.react-calendar abbr{
  text-decoration:none;
}
.react-calendar__tile:enabled:hover{
  background-color:#3a0ca3;
}
.react-calendar__tile--now:enabled{
  background-color:rgb(128,0,128);
}
.react-calendar__tile--now:enabled:hover{
  background-color:rgb(190,41,236);
}
.labelEvent{
  font-weight:bold;
  font-size: 1.1rem;
  text-align:center;
}
.inputEvent{
  width:100%;
  background-color:transparent;
  border:1px solid white;
}
.form-container input{
  outline:none;
}
.form-container textarea{
  outline:none;
}
.calendar-container{
  background: rgb(209, 64, 9);
    background: linear-gradient(
        0deg,
        rgba(209, 64, 9, 1) 0%,
        rgba(252, 150, 1, 1) 100%
      )
      no-repeat;    
  padding: 0.5em 1em 0;
}
.event-pointer{
  height: 5px;
  width: 5px;
  background-color: white;
  border-radius: 40%;
  left:14px;
  top:2px;
}
.calendarEvents{
  font-weight: bold;
  text-align: center;
  font-size: 1.3rem;
}
.eventTitle{
  font-size: 1.1rem;
}
.currentDate{
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}
.eventList{
  background-color: rgba(209, 64, 9, .6);
  position: relative;  
}
.closeEvents{
  position: absolute;
  top: 5%;
  right: 2%;
  color: rgb(128,0,128);
}
.addIcon{
  position: relative;
  top: 3px;
  right:5px;
  font-size: 1.2rem;
}
.btn-add{
  
}
@media (min-width: 768px){
  .react-calendar{
    width:50vw;
    height:33vh;
  }
  .form-container {
    position: relative;
    left: 4rem;
    bottom: 22rem;
  }
  .error-message{
    position: relative;
    top: -8rem;
  }
}
@media (min-width: 1024px) {
  .react-calendar{
    width:45vw;
    height:50vh;
  }
  .form-container {
    position: relative;
    left: -5rem;
    bottom: 1rem;
  }
  .error-message{
    position: relative;
    left: -4rem;
    top:-1rem;
  }
}

@media (min-width: 1536px) {
  .react-calendar{
    width:45vw;
    height:48vh;
  }
  .form-container {
    position: relative;
    left: -11rem;
    bottom: 1rem;
  }
  .error-message{
    position: relative;
    left: -9.5rem;
  }
}