body {
  background: rgb(209, 64, 9);
  background: linear-gradient(
      0deg,
      rgba(209, 64, 9, 1) 0%,
      rgba(252, 150, 1, 1) 40%
    )
    no-repeat;
  min-height: 100vh;
}
.connexionSide{
  display:none;
}
.invitRedirect {
  position: relative;
  bottom: -3rem;
  left: 0;
  padding-bottom: 5rem;
  width: fit-content;
  font-size: 0.99rem;
}
.MainLogo {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.login,
.signup {
  font-weight: bold;
}
.btn-login,
.btn-signup {
  font-size: 1.2rem;
  width: 100%;
  border: 1px solid;
  font-weight: bold;
  position: relative;
  top: 0.5rem;
}
.slogan {
  text-align: center;
}
input::placeholder {
  color: #374151;
}
.div-login,
.div-signup {
  margin: 0 1rem 0 1rem;
}
.error-message {
  color: #4b0b0b;
}
.login {
  display: block;
  margin-bottom: 10px;
}
.btn-signup {
  top: 2rem;
}
/* pour tablette galaxy fold 2*/
@media (min-width: 768px) {
  .invitRedirect {
    position: relative;
    bottom: -6vh;
    left: 27vh;
    width: fit-content;
  }
  .error-message {
    position: relative;
    top: 5vh;
  }
  .eyeIcon {
    position: relative;
    left: 47%;
  }
  .MainLogo {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1024px) {
  .divLogo {
    float: left;
    margin-top: 3rem;
    margin-left: 9rem;
    width: 29rem;
    height: 35rem;
  }
  .MainLogo {
    width: 20rem;
    height: 15rem;
    position: relative;
    top:5rem;
  }
  .slogan{
    position: relative;
    top:4rem;
  }
  .div-login, .div-signup {
    float: right;
    margin-top: 6rem;
    margin-right: 12rem;
    width: 29rem;
    height: fit-content;    
  }
  .error-message {
    position: relative;
    top: 5vh;
  }
  .eyeIcon {
    position: relative;
    left: 47%;
  }
  .connexionSide{
    display: block;
    font-size:1.4rem;
    text-align:center;
    font-weight:bold;
  }
  .invitRedirect {
    position: relative;
    left: 18%;
    width: fit-content;
  }
}

