
.invitRedirect{
    position: relative;
    bottom: -80vh;
    left: 3vh;
    width: fit-content;
    
}

@media (max-width: 640px) { 
    .bm-burger-button {
      position: absolute;
      width: 30px;
      height: 30px;
      left: 15px;
      top: 29px;
    }
    .invitRedirect{
        position: relative;
        bottom: -80vh;
        left: 2vh;
        width: fit-content;
    }
    .login{
        display: block ;
        margin-bottom: 10px
    }
    .btn-login, .btn-signup{
        position: relative;
        top:0.5rem;
    }
    .btn-signup{
        top:2rem

    }
   }