@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    /* Permet une transition lors du darkMode */
    @apply transition-colors duration-300;
    color:#F0DEB8;
}
html{
    height: 100%;
    background: rgb(209,64,9);

}
textarea{
    resize: none;
}